alias ls="ls --color=auto"

alias rm="rm -i"
alias cp="cp -i"
alias mv="mv -i"

alias grep="grep --color"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

export HOME="/c/Users/jack.baines/"

PS1="\n \[\033[0;34m\]┌─────(\[\033[1;35m\]\u\[\033[0;34m\])─────(\[\033[1;32m\]\w\[\033[0;34m\]) \n └> \[\033[1;36m\]\$ \[\033[0m\]"

